/* ------------------------------- BACKGROUND ------------------------------- */
html {
    background: url(../assets/images/clouds.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  /* ---------------------------------- FONT ---------------------------------- */
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2.0;
  }
  /* --------------------------------- HEADER/NAV/DROPDOWN MENU --------------------------------- */
  header {
    padding-top: 80px;
  }
  
  .dropdown {
    margin-top: 10px;
  }
  
  header nav {
    position: absolute;
    right: 20px;
    top:20px;
  }
  
  header nav a {
    color: black;
  } 
  
  .navButton {
   opacity: .5;
  }
  
  .is-hoverable .navbar-item:hover {
    color: #7258BF;
  }
  
  .searchBar {
    border: 0.5px solid #7258BF;
    border-radius: 5px;
    padding: 10px;
  }
  /* ---------------------------------- LOGO ---------------------------------- */
  header img {
    position: absolute;
    top: 0px;
    left: 20px;
  }
  /* ---------------------------------- ABOUT --------------------------------- */
  .aboutTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .aboutSection {
   align-items: center;
   display:flex;
   flex-flow: row wrap;
   justify-content: space-around;
   /* padding: 10px; */
   margin: 10px;
  }
  
  .aboutText {
    width: 500px;
  }
  /* --------------------------------- FOOTER --------------------------------- */
   footer {
    font-family: sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 15px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    color: rgb(75, 75, 75);
  }
  
  