/* ------------------------------- BACKGROUND ------------------------------- */
html {
  background: url(../assets/images/clouds.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* ---------------------------------- FONT ---------------------------------- */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(75, 75, 75);
  line-height: 2;
  width: 100%;
}

/* --------------------------------- HEADER/ NAV --------------------------------- */
header {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

header h1 {
  font-size: 35px;
  text-align: left;
  padding-left: 6%;
}

.usersName {
  background-color: fuchsia;
}

nav {
  background-color:yellow;
}

.dropdown {
  margin:0;
}

.navButton {
  opacity: .5;
 }

header nav {
  position: absolute;
  margin-right: 40px;
  right: 0;
  top:20px;
}

header nav a {
  color: black;
}

.is-hoverable .navbar-item:hover {
  color: #7258BF;
}

.searchBar {
  border: 0.5px solid #7258BF;
  border-radius: 5px;
  /* padding: 10px; */
}

/* ---------------------------------- PROFILE INFORMATION ---------------------------------- */
.wholePage {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.title {
  color: rgb(75, 75, 75);
  padding-left: 25px;
  padding-top: 20px;
}

img {
  margin-left: 85px;
  padding-top: 30px;
}

.infoIcon  {
  padding-left: 45px;
}

.fa-envelope {
  padding-top: 30px;
}

.leftSide {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.leftSide p a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:rgb(75, 75, 75);
}

/* ----------------------------------- BIO ---------------------------------- */

.bioContent {
  width: 60%;
  padding-top: 20px;
  padding-left: 25px;
}

.bio {
  display:flex;
  flex-direction: column;
  float: left;
  margin-left: 20px;
}

/* ------------------------------ WRITE A POST ------------------------------ */

.writePost {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 15px;
  border: 0.5px solid white;
}

.postInput {
  max-width: 336px;
  padding: 20px;
}

.postButton {
  margin-top: 1px;
  background-color: #7258BF;
  border: none;
  color: white;
}

.postButton:hover {
  background-color: white;
  color: #7258BF;
}

.postBtnContainer {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
}

.send {
  color: black;
  margin-top: 1.5px;
  border: none;
  opacity: 0.5;
}

.send:hover {
  background-color: white;
  color:rgb(75, 75, 75);
  opacity: 1.0;
}
/* ---------------------------------- POSTS --------------------------------- */
.content {
  flex-basis: 190%;
} 

.name .is-size-4 {
   font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.postInput {
  max-width: 336px;
  padding: 20px;
}

.postButton {
  margin-left: 35px;
  margin-top: 1px;
  background-color: #7258BF;
  border: none;
  color: white;
}

.postButton:hover {
  background-color: white;
  color: #7258BF;
}

.btnContainer {
  padding-left: 20px;
}

.commentInput {
  max-width: 336px;
  margin-top: 1.5px;
}

/* ---------------------------------- POSTS --------------------------------- */

.post {
  display: flex;
  flex-direction: column;
  border: 0.5px solid white;
  border: none;
  width: 500px;
  padding-bottom: 5px;
  border-radius: 15px;
  margin-top: 50px;
  flex-basis: 50%;
}

.btnContainer {
  padding-left: 20px;
}

.commentInput {
  max-width: 336px;
  margin-top: 1.5px;
}

.send {
  color: black;
  margin-top: 1.5px;
  border: none;
  opacity: 0.5;
}

.send:hover {
  background-color: white;
  color:rgb(75, 75, 75);
  opacity: 1.0;
}

.likeButton {
  border: none;
  border-radius: 25px;
  background-color: white;
}

.fa-heart {
  color: #7258BF;
}

.fa-heart:hover {
  color: rgb(249, 154, 209);
}

.name p {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.postDateAndTime {
  float: right;
  margin-right: 9px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  color: white;
}

/* -------------------------------- COMMENTS -------------------------------- */
.collapsible {
  cursor: pointer;
  width: 30%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 12px;
  background-color: white;
  opacity: .5;
}

.active,
.collapsible:hover {
  color: rgb(75, 75, 75);
  opacity: 100%;
}

.comment {
  border-bottom: 0.5px dashed black;
  float: right;
  border-radius: 0.25;
}

.comments {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 25px;
}


.collapsible:after {
  content: "\02795";
  font-size: 13px;
  color: white;
}

.active:after {
  content: "\2796";
  padding-top: 3px;
}

.commentDateAndTime {
  display: flex;
  flex-direction: row;
}

/* --------------------------------- FOOTER --------------------------------- */
footer {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 15px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  color: rgb(75, 75, 75);
}

/* ------------------------------- MEDIA QUERY ------------------------------ */
@media only screen and (max-width: 914px) {
  .wholePageContainer {
    flex-direction:column;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .postBtnContainer {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .postButton {
    width: 30%;
    margin-top: 3%;
    margin-left: 0px;
  }

  .bioContent {
    width: 100%;
  }

  header {
    width: 128%;
    /* display: flex; */
  }

  .leftSide {
    width: 128% !important;
  }

  .wholePage {
    display: flex;
    flex-direction: column;
    height: 100%;
}

  /* .navButton {
    display: flex;

  } */

  /* .dropdown {
    margin-right: 0px;
  } */



}

