/* ------------------------------- BACKGROUND ------------------------------- */
html {
  background: url(../assets/images/clouds.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* -------------------------------- FONT/BODY ------------------------------- */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* --------------------------------- HEADER/NAV/DROPDOWN MENU --------------------------------- */
 header {
  padding: 50px;
}

.dropdown {
  opacity: .5;
  margin: 0;
}

header nav {
  position: fixed;
  margin-right: 40px;
  right: 0;
  top:20px;
}

header nav a {
  color: black;
} 

.navButton {
  opacity: .5;
  margin: 0;
  padding:18px;
}

.is-hoverable .navbar-item:hover {
  color: #7258BF;
}
/* ---------------------------------- LOGO ---------------------------------- */
header img {
  position: absolute;
  top: 20px;
  left: 40px;
}
/* ----------------------- SIGN UP/ SIGN IN CONTAINER ----------------------- */
.container {  
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 margin-top: 0px;
}

.main {
  width: 350px;
  height: 550px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #FFF9F9;
  margin-top: 0;
}

#chk {
  display: none;
}

input {
  width: 60%;
  height: 20px;
  background: #FFF9F9;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 15px 10px 15px 10px;
  border: 0.5px solid #7258BF;
  border-radius: 5px;
}
/* --------------------------------- SIGN UP -------------------------------- */
.signupText {
  margin-bottom: 15px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.signup {
  position: relative;
  width:100%;
  height: 100%;
  margin-bottom: 50px;
}

label {
  color:#7258BF;
  font-size: 30px;
  justify-content: center;
  display: flex;
  margin-top: 10px;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.signupButton {
  margin: 10px auto;
  width: 60%;
  height: 35px;
  justify-content: center;
  display: block;
  background: #FFF9F9;
  color:#7258BF;
  border: 0.5px solid #7258BF;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}

.signupButton:hover {
  background: #7258BF;
  color: #FFF9F9;
}
/* --------------------------------- SIGN IN -------------------------------- */
.signinText {
  font-size: 45px;
}

.login {
  height: 600px;
  background: #7258BF;
  border-radius: 20px;
  transform: translateY(-30px);
  transition: .8s ease-in-out;
}

.login label {
  color: #FFF9F9;
  transform: scale(.6);
}

#chk:checked ~ .login {
  transform: translateY(-420px);
}

#chk:checked ~ .login label {
  padding-top: 10px;
}

#chk:checked ~ .signup label {
  transform: scale(.6);
}

.loginButton {
  width: 60%;
  height: 35px;
  margin: 10px auto;
  display: block;
  background: #FFF9F9;
  color:#7258BF;
  border: 0.5px solid #7258BF;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}

.loginButton:hover {
  border: 0.5px solid #FFF9F9;
  background:#7258BF;
  color:#FFF9F9;
}
/* --------------------------------- FOOTER --------------------------------- */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 15px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  color: rgb(75, 75, 75);
}

