/* ------------------------------- BACKGROUND ------------------------------- */
html {
    background: url(../assets/images/clouds.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
/* ---------------------------------- FONT ---------------------------------- */
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
/* --------------------------------- HEADER/NAV/DROPDOWN MENU --------------------------------- */
header {
  padding-top: 80px;
}

.dropdown {
  margin: 0;
}

header nav {
  position: fixed;
  margin-right: 20px;
  right: 0;
  top:20px;
}

header nav a {
  color: black;
}

button {
   opacity: 0.5; 
}

.is-hoverable .navbar-item:hover {
  color: #7258BF;
}

.searchBar {
  border: 0.5px solid #7258BF;
  border-radius: 5px;
  padding: 10px;
}
/* ---------------------------------- LOGO ---------------------------------- */
header img {
  position: absolute;
  top: 0;
  left: 0;
}
/* --------------------------------- CONTACT -------------------------------- */
.is-size-4 {
  font-weight: normal;
}

.aboutContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
}

h2 {
  font-weight: bold;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
  margin-top: 10px;
}

.contactInfo .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.contact, .gitHub {
  font-family: sans-serif;
  font-weight: lighter;
  color: black;
  opacity: .5;
  font-size: 15px;
}
/* --------------------------------- FOOTER --------------------------------- */
footer {
  font-size: 15px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  color: rgb(75, 75, 75);
}

@media only screen and (max-width: 646px) {
 .contactInfo {
   z-index: -1;
 }
}
